@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
}

* {
  color: #050505;
  font-size: 15px;
  font-weight: 500;
}
